################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/monopoly/FileContentIndex/b247b4de-041e-4e09-a26f-22938175cf47.vsidx
/.vs/monopoly/FileContentIndex/edf07400-cc75-4321-8f83-8bb2b0182960.vsidx
/.vs/monopoly/FileContentIndex/1cc5536e-d086-4344-bcc4-c581c0274070.vsidx
/.vs/monopoly/FileContentIndex/325d79b3-a6d2-4109-9eae-c01f3b2725a0.vsidx
/.vs/monopoly/FileContentIndex/cfdd7e23-6c2d-4cf0-ac85-8cbdec2a64f5.vsidx
